Курс предполагает использование OpenMP (и с недавнего времени Cuda).

Всего 7 лабораторных работ:

1. Перемножение матриц блочное/строчное.
2. СЛАУ.
3. Квадратурные формулы.
4. Сортировки.
5. Флойд.

### ВАЖНОЕ ОБНОВЛЕНИЕ:
Были добавлены ещё 2 лабораторные работы.
Они посвящены распараллеливанию на видеокартах.
Конкретно: Nvidia Cuda:

[08.04.2026 20:47] Уважаемые студенты!
Хочу отметить вашу ответственную работу над практикой: задания сдаются вовремя, и почти все уже успешно выполнили пять лабораторных работ по OpenMP. Это отличный результат, спасибо за ваш труд.

Однако до конца семестра остаётся ещё полтора месяца. К сожалению, несмотря на мои предупреждения о проверках посещаемости, сегодня на лекции присутствовало очень мало студентов. Чтобы эффективно использовать оставшееся время и попробовать программирование на GPU, в дисциплину вводятся две дополнительные лабораторные работы:

💫 Лабораторная №6 – перемножение матриц с использованием CUDA-ядер (по аналогии с первой лабой).
💫 Лабораторная №7 – алгоритм Флойда с использованием CUDA-ядер (по аналогии с пятой лабой).

Для реализации рекомендую использовать библиотеку PyCuda, но вы можете выбрать и другие подходящие инструменты (CUDA C/C++, CuPy, numba.cuda и т.д.). 

В результате защиты этих работ, вы получите самозачет. Для тех кто не может или не успевает  сделать дополнительные лабы, я предлагаю для получения самозачета, при условии что у вас уже сданы пять лаб, показать мне лекции. Но я буду очень внимательно верифицировать, что они действительно ваши и оригинальны, и желательно рукописные. 

Cuda ядра физически реализованы на видеокартах Nvidia. Поэтому, могут возникнуть технические затруднения. Однако, у большинства такая видеокарта есть в ноутбуке или в домашнем ПК. Если такой технической возможности нет вообще, и никто из ваших одногруппников не может предоставить ноут для сдачи лаб, я предоставлю вам университетский класс с такими видеокартами, на время эксперимента.
[08.04.2026 20:49] Да, соответственно вы защищаете отчет, я понимаю что у вас может не быть такой видеокарты. Допустимо принести отчет, рассказать что делал.
[08.04.2026 20:55] на вопрос для чего это нужно и нафига туда лезть ответ следующий. во первых нейроки используют матричные операции. во вторых сейчас именно на GPU обычно все запускается и параллелится, те же легковесные версии LLM можно подключить в LM Studio она сама их параллелит используя Cuda. Так шо за этим будущее, лезем в GPU.
[08.04.2026 20:59] Но, та же LM Studio сама все параллелит, при этом пользователь с Cuda как бы "не сталкивается". А наша задача попытаться ручками попробовать, написать простые параллельные скрипты. Сама большая сложность там это поставить драйвер))

Для каждой лабораторной работы нужен отчёт
и граф параллелизма.

Отчёт должен содержать анализ и выводы.

Выполнять можно на любом языке программирования:
использование Thread в Java,
использование горутин в Go,
использование OpenMP в C++,
использование библиотеки OpenMP в Python.

Для получения самозачёта необходимо и достаточно
сдать все лабораторные работы с отчётами
до зачётной недели.

### Conda environment \/ \/ \/ 
conda create -n parallel-algorithms python=3.10 -y
conda activate parallel-algorithms
conda install -c nvidia cuda-nvcc=12.6 -y
conda install -c nvidia cuda-cudart -y
conda install -c conda-forge pycuda numpy -y