Курс предполагает использование OpenMP.

Всего 5 лабораторных работ:
1. Перемножение матриц блочное/строчное.
2. СЛАУ.
3. Квадратурные формулы.
4. Сортировки.
5. Флойд.

Для каждой лабораторной работы нужен отчёт
и граф параллелизма.

Отчёт должен содержать анализ и выводы.

Выполнять можно на любом языке программирования:
использование Thread в Java,
использование горутин в Go,
использование OpenMP в C++,
использование библиотеки OpenMP в Python.
